/android/gradle-wrapper.jar
/android/.gradle
/android/captures/
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/GeneratedPluginRegistrant.java
/android/app/release/
/android/.idea/

/.idea/
/.flutter-plugins-dependencies
/.flutter-plugins
/pubspec.lock
/build/
/.dart_tool/
/.metadata

.firebaserc
.firebase